- is_admin = local_assigns.fetch(:admin, false)
- hide_class = local_assigns.fetch(:hide_class, false)

- if @keys.any?
  .table-holder
    %table.table.b-table.gl-table.b-table-stacked-md.-gl-mt-1.gl-mb-n2.ssh-keys-list{ data: { testid: 'ssh-keys-list' } }
      %thead.gl-hidden.md:gl-table-header-group
        %tr
          %th= _('Title')
          %th= s_('Profiles|Key')
          %th= s_('Profiles|Usage type')
          %th= s_('Profiles|Created')
          %th= s_('Profiles|Last used')
          %th= s_('Profiles|Expires')
          %th= _('Actions')
      = render partial: 'user_settings/ssh_keys/key', collection: @keys, locals: { is_admin: is_admin }
- else
  %p.gl-new-card-empty.gl-px-5.gl-py-4.js-toggle-content{ class: hide_class }
    - if is_admin
      = _('There are no SSH keys associated with this account.')
    - else
      = _('There are no SSH keys with access to your account.')
